@page "/filesystem"
@inject AppDBContext _db

<h1>FileSystem</h1>
<MudGrid>
    <MudItem xs="12" sm="7">
        <MudCard>
            <MudCardContent>
                <MudTextField @bind-Value="fileModel.Name" Label="Name" Variant="Variant.Text" For="@(() => fileModel.Name)"></MudTextField>
            </MudCardContent>
            <MudCardContent>
                <MudFileUpload T="IBrowserFile" OnFilesChanged="LoadFiles">
                    <ButtonTemplate>
                        <MudFab HtmlTag="label"
                                Color="Color.Success"
                                Icon="@Icons.Material.Filled.AttachFile"
                                for="@context" />
                    </ButtonTemplate>
                </MudFileUpload>
            </MudCardContent>
            <MudCardActions>
                <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" OnClick="Save"  Color="Color.Primary" Class="ml-auto">Save</MudButton>
            </MudCardActions>
        </MudCard>
    </MudItem>
</MudGrid>

